/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/bin/
/vendor/
/web/bundles
/composer.lock
/.idea
/web/coverage
/web/css
/web/js

import.db
import.log
population.db