{% extends "SywFrontMainBundle::base.html.twig" %}

{% block body %}

    <!-- Page Content -->
    <div class="container page">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ title }}</h3>
                    </div>
                    <div class="panel-body">

                        <p><strong>This page is still under hard development and generally it is still in a pre-alpha state.</strong></p>
                        <p> &nbsp; </p>

                        <p><strong>We are actually at migrating all the data from the old website to this new one which can take several days, maybe weeks.</strong></p>
                        <p> &nbsp; </p>

                        <p><strong>There are still not many statistics here, because this makes no sense before the data is not migrated.</strong></p>
                        <p> &nbsp; </p>

                        <p><strong>But be sure, that we're doing our best to create the statistics very soon and with much more detail than before.</strong></p>
                        <p> &nbsp; </p>

                        <p><strong>Please test this new website and tell us every issue or problem in our <a href="https://github.com/alexloehner/linuxcounter.new/issues">bugtracker</a>.</strong></p>
                        <p> &nbsp; </p>







                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
