<div class="panel panel-default pieceOfNews">
    <div class="panel-heading">
        <h3 class="panel-title newsTitle">[{{ pieceOfNews.createdAt|date('Y-m-d H:i') }}]  {{ pieceOfNews.title }}</h3>
    </div>
    <div class="panel-body newsBody">
        {{ pieceOfNews.body|raw|nl2br }}
    </div>
</div>
