# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: licotest
    database_user: root
    database_password: ~
    database_lico_driver: pdo_mysql
    database_lico_host: 127.0.0.1
    database_lico_port: null
    database_lico_name: lico
    database_lico_user: root
    database_lico_password: ~
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    admin_email: admin@linuxcounter.net
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    base_host: test.linuxcounter.net
    api_host:  api.linuxcounter.net
