#loadingDiv {
    z-index: 99999;
    position: fixed;
    top: 70px;
    width: 200px;
    margin-left: 30%;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 10px;
    border: 1px solid grey;
}

#loadingImg {
    margin-bottom: 20px;
}

label {
    margin-top: 7px;
}

label > span {
    font-weight: normal;
    font-size: 0.7em;
    color: #aaa;
}

.fos_user_user_show {
}

.profile {

}

.profilebox {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
}

.profilegravatar {

}

.profileaccount {

}

.profilelocation {

}

.profilepersonal {

}

.profile_personalinfo {
    text-align: left;
    font-size: 0.9em;
}

.profilecontact {

}

.profilesocial {

}

.profileinfo {

}

.panel-body {
    overflow: hidden;
}

.profile_realname {
    font-weight: bolder;
    font-size: 1.8em;
}

.profile_username {
    font-weight: normal;
    font-size: 1.2em;
}

.profile_hr > hr {

}

.glyphicon, .fa {
    color: #aaaaaa;
    margin-right: 5px;
}

#profile_gravatar {
    margin-bottom: 5px;
}

#profile_gravatar > img {
    width: 100%;
    border-radius: 6px;
}

.leftside {
    text-align: center;
}

#profile_machine_table {
    padding-left: 0;
    padding-right: 0;
}

.privhidden {
    font-weight: normal;
    font-style: italic;
    color: #bcbcbc;
}

.machinelink:link {

}

.panel-body > h1 {
    font-size: 1.6em;
    font-weight: normal;
}

.panel-body > h2 {
    font-size: 1.4em;
    font-weight: normal;
}

.panel-body > h3 {
    font-size: 1.2em;
    font-weight: normal;
}

.panel-body > h4 {
    font-size: 1.0em;
    font-weight: normal;
}

#faq {

}

.faq {

}

.faqcontent {

}

.faqquestionbox {
    background-color: #eaeaea;
    padding: 0px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 15px;
}

.faqanswerbox {
    display:none;
    background-color: #ffffff;
    padding: 10px;
    border: 0;
    font-weight: normal;
    border-radius: 5px;
}

.faqquestion {
    border-radius: 5px;
    padding: 10px;
}

.faqanswer {
    border-radius: 5px;
}


















