body {
    padding-top: 50px;
    padding-bottom: 30px;
    overflow-x:hidden;
    font-family: monospace, courier new, serif;
    padding-bottom: 40px;
    padding-top: 0;
    color: #5a5a5a;
    background-color: #777;
}

.h2, h2 {
    font-size: 24px;
}

#main {
    background-color: #f9f9f9;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

.page {
    margin-top: 140px;
}

.copyright {
    text-align: center;
    font-size: 0.8em;
    color: #595959;
    padding: 40px;
}

.btn-default {
    font-size: 0.9em;
    margin: 17px;
}

.banner {
    text-align: center;
}

@media (min-width: 768px) {
    .navbar-header {
        float: none;
    }
}

.navbar-inverse {
    background-color: #fff;
    border-color: #bbb;
    background-image: -webkit-linear-gradient(top,#fefefe 0,#dedede 100%);
    background-image: -o-linear-gradient(top,#fefefe 0,#dedede 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#dedede));
    background-image: linear-gradient(to bottom,#fefefe 0,#dedede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#ffdedede', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
}

#navbar .footer-menu-divider {
    display:none;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    text-shadow: 0 -2px 0 rgba(0,0,0,.5);
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

.navbar {
    min-height: 50px;
}

.navbar-nav {
    font-size: 1.1em;
    font-weight: bold;
}

.navbar-brand {
    padding: 0;
    padding-top: 4px;
    height: auto;
}

#main.container {
    margin: auto;
    padding: 0;
}

.carousel {
    margin-top: 50px;
    height: 510px;
    margin-bottom: 60px;
}

.carousel .item {
    height: 510px;
    background-color: #222;
}

.carousel-inner > .item > img {
    height: 520px;
}

@media (min-width: 768px) {
    .carousel {
        margin-top: 130px;
        height: 510px;
        margin-bottom: 60px;
    }
}

.carousel-inner > .item > .carousel-image {
    width: 100%;
    height: 520px;
    text-align: center;
    align: center;
}

#csl-item1 {
    background:url(../images/slide.001.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

#csl-item2 {
    background:url(../images/slide.002.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

#csl-item3 {
    background:url(../images/slide.003.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 7px 8px;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    background-color: #bbb;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-header .col-xs-10 {
    padding-left: 0;
}
.navbar-header .col-xs-2 {
    padding-right: 0;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #bcbcbc;
    margin-top: 5px;
}

.lead {
    text-align: justify;
}

.container {
    text-align: justify;
}

.row {
    text-align: justify;
}

.featurette-heading {
    text-align: left;
}

.intro-social-buttons {
    text-align: center;
}

.featurette-divider {
    margin: 30px 0;
}

.carousel-caption {
    bottom: 80px;
}

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    border-radius: 4px;
}

.flash {
    margin-top: 10px;
    position: absolute;
    z-index: 999;
    width: 80%;
    left: 10%;
}
.flashbag {
    z-index:999;
}
.alert {
    z-index:999;
}
.flash-danger {
    z-index:999;
}
.alert-danger {
    z-index:999;
}
.flash-warning {
    z-index:999;
}
.alert-warning {
    z-index:999;
}
.flash-info {
    z-index:999;
}
.alert-info {
    z-index:999;
}
.flash-success {
    z-index:999;
}
.alert-success {
    z-index:999;
}

.form-group {
    margin-bottom: 15px;
    min-height: 23px;
}

.footercontainer {
    background-image: -webkit-linear-gradient(top,#fefefe 0,#dedede 100%);
    background-image: -o-linear-gradient(top,#fefefe 0,#dedede 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#dedede));
    background-image: linear-gradient(to bottom,#fefefe 0,#dedede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#ffdedede', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-top: 1px solid #DADADA;
    background-color: #dedede;
    padding-top: 20px;
}

footer {
    text-align: center;
}

.footerlinks {
    text-align: center;
}

p {
    margin: 0;
}

form {
    margin-bottom: 10px;
}

input[type=submit] {
    margin: 20px;
}

input[type=button] {
    margin: 20px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

#loadingDiv {
    z-index: 99999;
    position: fixed;
    top: 70px;
    width: 200px;
    margin-left: 30%;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 10px;
    border: 1px solid grey;
}

#loadingImg {
    margin-bottom: 20px;
}

label {
    margin-top: 7px;
}

label > span {
    font-weight: normal;
    font-size: 0.7em;
    color: #aaa;
}

.fos_user_user_show {
}

.profile {

}

.profilebox {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
}

.profilegravatar {

}

.profileaccount {

}

.profilelocation {

}

.profilepersonal {

}

.profile_personalinfo {
    text-align: left;
    font-size: 0.9em;
}

.profilecontact {

}

.profilesocial {

}

.profileinfo {

}

.panel-body {
    overflow: hidden;
}

.profile_realname {
    font-weight: bolder;
    font-size: 1.8em;
}

.profile_username {
    font-weight: normal;
    font-size: 1.2em;
}

.profile_hr > hr {

}

.glyphicon, .fa {
    color: #aaaaaa;
    margin-right: 5px;
}

#profile_gravatar {
    margin-bottom: 5px;
}

#profile_gravatar > img {
    width: 100%;
    border-radius: 6px;
}

.leftside {
    text-align: center;
}

#profile_machine_table {
    padding-left: 0;
    padding-right: 0;
}

.privhidden {
    font-weight: normal;
    font-style: italic;
    color: #bcbcbc;
}

.machinelink:link {

}

.panel-body > h1 {
    font-size: 1.6em;
    font-weight: normal;
}

.panel-body > h2 {
    font-size: 1.4em;
    font-weight: normal;
}

.panel-body > h3 {
    font-size: 1.2em;
    font-weight: normal;
}

.panel-body > h4 {
    font-size: 1.0em;
    font-weight: normal;
}

#faq {

}

.faq {

}

.faqcontent {

}

.faqquestionbox {
    background-color: #eaeaea;
    padding: 0px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 15px;
}

.faqanswerbox {
    display:none;
    background-color: #ffffff;
    padding: 10px;
    border: 0;
    font-weight: normal;
    border-radius: 5px;
}

.faqquestion {
    border-radius: 5px;
    padding: 10px;
}

.faqanswer {
    border-radius: 5px;
}

#confirmdialog {
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 20px;
}

#confirmdialog > p {
    margin-bottom: 10px;
}

.newsBody > .col-sm-12 > hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.h1, h1 {
    font-size: 2em;
}

#linux_user_guess {
    border: 1px solid #b9b9b9;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 5px;
    background-color: #ced6de;
    font-size: 3em;
}

.progress-bar-lico {
    background-image: -webkit-linear-gradient(top, #ced6de 0, #73909d 100%);
    background-image: -o-linear-gradient(top,#ced6de 0,#73909d 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ced6de),to(#73909d));
    background-image: linear-gradient(to bottom,#ced6de 0,#73909d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffced6de', endColorstr='#ff73909d', GradientType=0);
    background-repeat: repeat-x;
}

.progress-description {
    text-align: left;
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media (min-width: 768px) {
    .carousel {
        margin-top: 74px;
        height: 510px;
        margin-bottom: 60px;
    }
}

@media (min-width: 1201px) {
    .carousel {
        margin-top: 129px;
        height: 510px;
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 992px) {
    #public_machine_table, #profile_machine_table {
        font-size: 0.8em;
    }
    #public_machine_table table td:nth-child(4),
    #public_machine_table table th:nth-child(4) {
        display: none;
    }
    #profile_machine_table table td:nth-child(4),
    #profile_machine_table table th:nth-child(4) {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    #public_machine_table, #profile_machine_table {
        font-size: 0.8em;
    }
    #public_machine_table table td:nth-child(4),
    #public_machine_table table th:nth-child(4),
    #public_machine_table table td:nth-child(5),
    #public_machine_table table th:nth-child(5) {
        display: none;
    }
    #profile_machine_table table td:nth-child(4),
    #profile_machine_table table th:nth-child(4),
    #profile_machine_table table td:nth-child(5),
    #profile_machine_table table th:nth-child(5) {
        display: none;
    }
}

@media only screen and (max-width: 595px) {
    #public_machine_table, #profile_machine_table {
        font-size: 0.7em;
    }
    #public_machine_table table td:nth-child(4),
    #public_machine_table table th:nth-child(4),
    #public_machine_table table td:nth-child(5),
    #public_machine_table table th:nth-child(5) {
        display: none;
    }
    #profile_machine_table table td:nth-child(4),
    #profile_machine_table table th:nth-child(4),
    #profile_machine_table table td:nth-child(5),
    #profile_machine_table table th:nth-child(5),
    #profile_machine_table table td:nth-child(2),
    #profile_machine_table table th:nth-child(2) {
        display: none;
    }
}




















