/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    font-family: monospace, courier new, serif;
    padding-bottom: 40px;
    padding-top: 0;
    color: #5a5a5a;
    background-color: #777;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

#main {
    background-color: #fff;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

.page {
    margin-top: 140px;
    margin-bottom: 70px;
}

.copyright {
    text-align: center;
    font-size: 0.8em;
    color: #aeaeae;
}

.btn-default {
    font-size: 0.9em;
}

.banner {
    text-align: center;
}

@media (min-width: 768px) {
    .navbar-header {
        float: none;
    }
}

.navbar-inverse {
    background-color: #fff;
    border-color: #bbb;
    background-image: -webkit-linear-gradient(top,#fefefe 0,#dedede 100%);
    background-image: -o-linear-gradient(top,#fefefe 0,#dedede 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#dedede));
    background-image: linear-gradient(to bottom,#fefefe 0,#dedede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#ffdedede', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
}

#navbar .footer-menu-divider {
    display:none;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    text-shadow: 0 -2px 0 rgba(0,0,0,.5);
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

.navbar {
    min-height: 50px;
}

.navbar-nav {
    font-size: 1.1em;
    font-weight: bold;
}

.navbar-brand {
    padding: 0;
    padding-top: 4px;
    height: auto;
}

#main.container {
    margin: auto;
    padding: 0;
}

.carousel {
    margin-top: 50px;
    height: 510px;
    margin-bottom: 60px;
}

.carousel .item {
    height: 510px;
    background-color: #777;
}

@media (min-width: 768px) {
    .carousel {
        margin-top: 130px;
        height: 510px;
        margin-bottom: 60px;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 7px 8px;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    background-color: #bbb;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-header .col-xs-10 {
    padding-left: 0;
}
.navbar-header .col-xs-2 {
    padding-right: 0;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #bcbcbc;
    margin-top: 5px;
}

.lead {
    text-align: justify;
}

.container {
    text-align: justify;
}

.row {
    text-align: justify;
}

.featurette-heading {
    text-align: left;
}

.intro-social-buttons {
    text-align: center;
}

.featurette-divider {
    margin: 30px 0;
}

.carousel-caption {
    bottom: 80px;
}

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    border-radius: 4px;
}

