{% extends "SywFrontMainBundle::base.html.twig" %}

{% block body %}

    <!-- Page Content -->
    <div class="container page">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'Frequently asked questions'|trans }}</h3>
                    </div>
                    <div id="faq" class="panel-body faq">
                        <div class="faqcontent">



                            <div id="question1" class="faqquestionbox">
                                <div class="faqquestion">
                                    <strong> &middot; </strong>
                                    What is this?
                                </div>

                                <div id="answer1" class="faqanswerbox">
                                    <div class="faqanswer">
                                        <p>The New LinuxCounter Project was created in order to revive and replace the good old linux counter project on counter.li.org.<br/>
                                            Since January 11, 2012 counter.li.org redirects directly to linuxcounter.net and thus, linuxcounter.net is the only and main real linux counter with the greatest userbase.</p>
                                        <p>The original Linux Counter was run by a nonprofit membership organization called the Linux Counter Project. This organization was created on May 1, 1999, taking over the running of the counter from Harald Tveit Alvestrand, who has been running the project since 1993. Harald Alvestrand is chief executive officer of the organization.</p>
                                        <p>It was started as a "for fun" project to find out how many Linux users there are worldwide. The basic idea is for people to register themselves as being a Linux user. Of course, this way you won't get all Linux users counted as not every Linux user will register himself at the Linux Counter site. Thus, the only way to "know" the number of Linux users worldwide, is to make a guess, preferably a not-too-wild guess of the number of Linux users. Not making wild guesses there is only one way to go: statistics. And so, there we are.</p>
                                    </div>
                                </div>
                            </div>



                            <div id="question2" class="faqquestionbox">
                                <div class="faqquestion">
                                    <strong> &middot; </strong>
                                    What is this all about?
                                </div>

                                <div id="answer2" class="faqanswerbox">
                                    <div class="faqanswer">
                                        <p>This is all about statistics. Statistics about Linux and its users. The main goal is to determine how many linux users there are worldwide.</p>
                                    </div>
                                </div>
                            </div>



                            <div id="question3" class="faqquestionbox">
                                <div class="faqquestion">
                                    <strong> &middot; </strong>
                                    Is this really free of charge?
                                </div>

                                <div id="answer3" class="faqanswerbox">
                                    <div class="faqanswer">
                                        Yes, sure! GNU/Linux is free and so we are free too. This service is completly free of charge without any hidden costs or something.
                                    </div>
                                </div>
                            </div>



                            <div id="question4" class="faqquestionbox">
                                <div class="faqquestion">
                                    <strong> &middot; </strong>
                                    Is this service secure?
                                </div>

                                <div id="answer4" class="faqanswerbox">
                                    <div class="faqanswer">
                                        Of course it is. It is as secure as it can be with a great bunch of established and popular third party bundles, that are open source too.<br/><br/>
                                        All of your private data is secured and safely encrypted in our database. You have the choice only by yourself to make your data (for example your email address) public or not.<br/>
                                        And even if your email address is public, it is secured by javascript and other methods to prevent bots from stealing it.
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
