{% extends "SywFrontMainBundle::base.html.twig" %}

{% block body %}

    <!-- Page Content -->
    <div class="container page">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'The Linux Counter Project is fully sponsored by...'|trans }}</h3>
                    </div>
                    <div class="panel-body">

                        <div class="box1">

                            <div style="float:right;margin-left:10px;">
                                <a href="https://www.first-colo.net/" target="_blank"><img src="{{ '/bundles/sywfrontmain/images/firstcolo.jpg' }}" alt="" style="" border="0"></a>
                            </div>

                            <h3>FIRSTCOLO - One step ahead</h3>
                            <p style="margin-top: 20px;">The New Linux Counter Project is fully sponsored by an amazing, german company. This company is called <a href="https://www.first-colo.net/" target="_blank">First Colo</a> and it is a server and housing provider, sitting in Munich, Germany.</p>
                            <p><a href="https://www.first-colo.net/" target="_blank">First Colo</a> operates as an IT infrastructure supplier high availability data processing center with the core specialties in rack housing, server hosting, managed services, and DDoS-protection, at German and European locations. Our company has been a successful part of this market for over ten years and has grown rapidly during this period. Our strengths include high flexibility, a high level of customer focus and the consistent use of very modern and efficient technologies.</p>
                            <p>The company offers colocation, connectivity, and management services for the middle sized and larger customers. With high quality demands, know-how and manufacturer independent consulting, <a href="https://www.first-colo.net/" target="_blank">First Colo</a> has already persuaded multiple industries, especially those with high data traffic volume and above average demands for service quality and IT security. In order to deal with the constantly increasing administrative requirements and expand the range of products correspondingly, the company was renamed as First Colo GmbH in late 2007. The data centre in the Accent Office Center was then opened at the beginning of 2011, which marked the beginning of a new corporate era for us. </p>

                            <p> &nbsp; </p>
                            <p>The New Linux Counter Project has an own, dedicated root server with the following specs:</p>
                            <p> &nbsp; </p>
                            <p>
                                <ul>
                                    <li> <b>CPU:</b> Intel(R) Xeon(R) CPU E5-1650 v2 @ 3.50GHz, 6 Cores with Hyperthreading</li>
                                    <li> <b>RAM:</b> 48 GB of EEC Ram</li>
                                    <li> <b>HDD:</b> 2 x 250GB 6Gb/s SSD (Software-Raid 1)</li>
                                    <li> <b>OS:</b> Ubuntu Server 14.04 LTS</li>
                                </ul>
                            </p>

                            <p> &nbsp; </p>
                            <div style="margin-top: 30px;text-align:center;">
                                <a href="https://www.first-colo.net/" target="_blank"><img src="{{ '/bundles/sywfrontmain/images/colo2.jpg' }}" style="" border="0"></a> &nbsp;
                                <a href="https://www.first-colo.net/" target="_blank"><img src="{{ '/bundles/sywfrontmain/images/colo3.jpg' }}" style="" border="0"></a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
