<!-- /END THE FEATURETTES -->

<div class="container">
    <a name="contact"></a>

    <div class="banner">

        <div class="container">

            <div class="row">
                {{ include('SywFrontMainBundle:Common:_social.html.twig') }}
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- FOOTER -->
    <footer>
        <p> &nbsp; </p>
        <p> &nbsp; </p>
        <p class="copyright">LiCo, LinuxCounter.net, LiCo - The New Linux Counter Project - linuxcounter.net, Copyright © 2011 - 2015 by <a href="https://github.com/alexloehner">Alexander Löhner</a>. All rights reserved.<br>
        The code of The New Linux Counter Project is licensed under the <a href="https://github.com/alexloehner/linuxcounter.new/blob/master/LICENSE">GPL v3</a>.<br>
        Original project counter.li.org © 1993 - 2011 by Harald Tveit Alvestrand &amp; the Linux Counter Project - Linux is a registered trademark of Linus Torvalds.</p>
    </footer>

</div>
