<title>{% if metatitle %}{{ metatitle }} - {% endif %}LiCo - The New Linux Counter Project - linuxcounter.net</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="HandheldFriendly" content="true"/>
<meta name="title" content="{% if metatitle %}{{ metatitle }} - {% endif %}LiCo - The New Linux Counter Project - linuxcounter.net"/>
<meta name="description" content="The New Linux Counter Project replaces the good old counter.li.org project. It counts and generates statistics about all linux users and machines."/>
<meta name="keywords" content="linux,linux statistics,linux user statistics,linux user count,linux stats,linux download,linux os,linux operating system,linux commands,linux distros,linux kernel,linux server,linux user counter"/>
<meta name="robots" content="index, follow"/>
<meta name="revisit-after" content="7 days"/>
<meta name="author" content="Alexander Löhner"/>
<meta name="rating" content="general"/>
<meta name="DC.language" content="en"/>
<meta name="bitly-verification" content="2f600df3f02c"/>
<meta name="alexaVerifyID" content="-i5QXGI0mH4tzrenpmbahnBoab0"/>
<meta name="alexaVerifyID" content="mRtP9bc75d3VGwtjuHc4BQ8LaEw"/>
<meta name="wot-verification" content="ba5c152fc4fcfaaf81a9"/>
<meta name="msvalidate.01" content="939955A93B62A79F82049BB84284E4CD"/>
<meta charset="utf-8"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta http-equiv="content-language" content="en"/>
<meta http-equiv="cache-control" content="10"/>
<meta http-equiv="expires" content="10"/>
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
