<div id="navwrapper" class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img class="img-responsive" src="{{ 'bundles/sywfrontmain/images/lico-logo.480x70.png' }}" alt=""></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {{ include('SywFrontMainBundle:Common:_navigation.html.twig') }}
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>
