<ul class="list-inline intro-social-buttons">
    <li>
        <a href="https://github.com/alexloehner" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
    </li>
    <li>
        <a href="https://twitter.com/NewLinuxCounter" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
    </li>
    <li>
        <a href="https://www.facebook.com/alexanderloehner" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
    </li>
    <li>
        <a href="https://plus.google.com/u/0/+AlexanderLöhner72" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
    </li>
    <li>
        <a href="http://about.me/loehner" class="btn btn-default btn-lg"><i class="fa fa-aboutme fa-fw"></i> <span class="network-name">About.me</span></a>
    </li>
    <li>
        <a href="http://de.linkedin.com/pub/alexander-l%C3%B6hner/3b/113/950/de" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
    </li>
    <li>
        <a href="http://stackoverflow.com/users/3957239/alexander-l%C3%B6hner" class="btn btn-default btn-lg"><i class="fa fa-stack-overflow fa-fw"></i> <span class="network-name">stackoverflow</span></a>
    </li>
    <li>
        <a href="http://www.linux.org/members/alexander-l%C3%B6hner.7355/" class="btn btn-default btn-lg"><i class="fa fa-linux fa-fw"></i> <span class="network-name">linux.org</span></a>
    </li>
</ul>
